<mat-card class="item-table-wrapper">
  <mat-card-title class="item-table-wrapper__header">
    <p *ngIf="!isShowFilterInput" class="item-table-wrapper__title">
      Items
    </p>
    <div *ngIf="isShowFilterInput" class="item-table-wrapper__refresh">
      <input matInput class="item-table-wrapper__search-input" (keyup)="applyFilter($event)">
      <button class="item-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
        <mat-icon class="item-table-wrapper__icon">close</mat-icon>
      </button>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <button class="item-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
        <mat-icon class="item-table-wrapper__icon">search</mat-icon>
      </button>
      <button class="item-table-wrapper__button" mat-mini-fab (click)="refresh()">
        <mat-icon class="item-table-wrapper__icon">save_alt</mat-icon>
      </button>
      <button class="item-table-wrapper__button" mat-mini-fab (click)="refresh()">
        <mat-icon class="item-table-wrapper__icon">refresh</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content class="item-table__content">
    <table class="item-table__table" mat-table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th class="item-table__table-checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td class="item-table__table-checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id" >
        <th class="item-table__table-row-title" mat-header-cell *matHeaderCellDef > Id </th>
        <td class="item-table__table-content" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name" >
        <th class="item-table__table-row-title" mat-header-cell *matHeaderCellDef > Name </th>
        <td class="item-table__table-content" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category" >
        <th class="item-table__table-row-title" mat-header-cell *matHeaderCellDef > Category </th>
        <td class="item-table__table-content" mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status" >
        <th class="item-table__table-row-title" mat-header-cell *matHeaderCellDef > Status </th>
        <td class="item-table__table-content" mat-cell *matCellDef="let element"> 
        <div class="item-table__content-badge" [ngClass]="element.status">
          <span>{{element.status}}</span>
        </div>
        </td>
      <!-- <div *ngIf="column === 'status'" class="material-table__content-badge" [ngClass]="element[column]"> -->
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
